<!DOCTYPE html>
<html>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <div class="row">
        <div class="column" style="margin-bottom: 20px;">
            <table>
                <tr>
                    <td>ID</td>
                    <td>
                        <input [(ngModel)]= "cat.id" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <input [(ngModel)]= "cat.catName" type="text">
                    </td>
                </tr>
            </table>
        </div>
        <input type="submit" (click)="AddCategory()" style="width: 10%; margin: 5px; background-color: chocolate;"/>
        <input type="button" (click)="Show()" value="Show" style="width: 10%; margin: 5px; background-color: cornflowerblue;"/>
        <div class="column">

            <table border="2" style="margin-top: 20px;">
                <tr>
                    <td>ID</td>
                    <td>Category</td>
                </tr>
                <tr *ngFor="let item of cats">
                    <td style="padding: 10px;">{{item.id}}</td>
                    <td style="padding:10px;">{{item.catName}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>