
<div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="../../assets/accessories-collection.png"
                    class="d-block w-100" alt="..." style="height: 550px; border: 2px solid black;">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../../assets/shopping.jpg" style="height: 550px; border: 2px solid black;"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/jackets.jpg"
                    class="d-block w-100" alt="..." style="border: 2px solid black; height: 550px">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/{{product.productImage}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{product.productName}}</h5>
                <p class="card-text">{{product.productDescription}}</p>
                <p class="card-text">price = {{product.productMrp}}</p>
                <a routerLink="/login" class="btn btn-primary" style="margin-right: 20px;" >Add to Cart</a>
            </div>
        </div>
    </div>
</div>