<div class="register-wrapper">
    <form action="" class="form">
      <h2>Register</h2>
      <div class="input-group">
        <input type="email" name="registerEmail" id="registerEmail" required />
        <label for="registerEmail">Email Id</label>
      </div>
      <div class="input-group">
        <input
        type="password"
        name="loginPassword"
        id="loginPassword"
        required
      />
      <label for="loginPassword">Password</label>
      </div>
      <input type="submit" value="Register" class="submit-btn" />
    </form>
  </div>